/* COLORS */
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-blue: #00b2ff;
$color-gray: #ebebeb;
$color-dark-gray: #666666;

/* DEVICE WIDTH */
$mobile-width: 769px;
$tablet-width: 770px;
$tablet-max-width: 1399px;
$desktop-width: 1280px;
